@media(max-width:1199px) {
    #nav-content li a{
        font-size: 14px;
    }
}
@media(max-width:991px) {
	.top_list li, .staff_list li{
		width:100%;
	}
    .staff_list li:nth-child(2n+2) {
        padding-left: 0px;
    }
} 
@media(min-width:768px) {
    .nav-tabs {
        display: flex;
    }
    .card {
        border: none;
    }
    .card .card-header {
        display:none;
    }  
    .card .collapse{
        display:block;
    }
}
@media(min-width:768px) {
	#login_popup .modal-dialog, #signup_popup .modal-dialog {
		max-width: 650px;
	}
}
@media(max-width:767px){
    .tab-content > .tab-pane {
        display: block !important;
        opacity: 1;
    }
	.width_50, .other_login > div{
		width:100%;
	}
}
@media(max-width:500px){
    .form_radio label {
		width: 100%;
		margin-bottom: 30px;
	}
}